<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winjay.g2048">

    <application>
        <activity
            android:name=".activity.Game2048Activity"
            android:exported="true" />
        <activity
            android:name=".activity.ConfigActivity"
            android:exported="true" />
    </application>
</manifest>
