<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.winjay.practice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 地理位置相关 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- 读取和写入存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 媒体的拍摄位置 -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <!-- Android11 以上版本 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.hardware.usb.host" />

    <!-- 音频录制权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />
    <!-- 支持相机才能运行 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 网络 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- If your app targets Android 9 or lower, you can declare ACCESS_COARSE_LOCATION instead. -->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INJECT_EVENTS" />

    <uses-permission android:name="android.software.activities_on_secondary_displays" />

    <!-- android13运行时通知权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.software.activities_on_secondary_displays"/>

    <!-- android:persistent="true"：1.在系统刚起来的时候，该App也会被启动起来 2.该App被强制杀掉后，系统会重启该App。这种情况只针对系统内置的App，第三方安装的App不会被重启。 -->
    <!-- android:usesCleartextTraffic="true"：指示应用程序是否打算使用明文网络流量，例如明文HTTP -->
    <!-- android:requestLegacyExternalStorage="true"：目标版本API<=29时,采用旧的存储模型运行的。目标版本API>29时该配置无效，强制使用分区存储 -->
    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--configChanges：配置中的属性发生变化时，activity不会重建-->
        <!--launchMode：activity启动模式（standard、singleTop、singleTask、singleInstance）-->
        <!--excludeFromRecents：activity不会出现在历史activity列表中-->
        <!--taskAffinity：activity所需要的任务栈的名字（默认和包名一致）-->
        <!--process：指定进程名（默认进程名为包名）（adb shell ps、adb shell ps|grep xxx.xxx命令查看进程）-->
        <activity
            android:name=".LauncherActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="false"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:taskAffinity="com.winjay.practice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--android:clearTaskOnLaunch="true"表示：当返回到这个Task时（如按home，之后再回到到这个Task时），除了root activity其他的activity都会被销毁。-->
        <!--android:clearTaskOnLaunch=true 只放在一个activity Task 的root activity有效，在其他activity设置就无效。-->

        <!--android:finishOnTaskLaunch="true"表示：当返回到这个Task时，该activity会被销毁，其他的不会被销毁。-->
        <!--android:finishOnTaskLaunch=true 放 root activity就无效，放在一个 Task 的其他activity就有效。-->
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- architecture mode start -->
        <activity
            android:name=".architecture_mode.ArchitectureModeListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".architecture_mode.mvc.controller.MVCActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".architecture_mode.mvp.view.MVPActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".architecture_mode.mvvm.databinding.MVVMDataBindingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".architecture_mode.mvvm.view.UserListActivity"
            android:exported="true" />
        <!-- architecture mode end -->

        <!-- ipc start -->
        <activity
            android:name=".ipc.IPCListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ipc.binder.BinderStudyClientActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".ipc.binder.BinderStudyService"
            android:process=":remote" />

        <service
            android:name=".ipc.messenger.MessengerService"
            android:process=":remote" />

        <activity
            android:name=".ipc.messenger.MessengerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".ipc.aidl.BookManagerService"
            android:process=":remote" />

        <activity
            android:name=".ipc.aidl.BookManagerClientActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ipc.content_provider.ProviderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name=".ipc.content_provider.UserinfoProvider"
            android:authorities="com.winjay.info" />
        <!-- ipc end -->

        <!-- ioc start -->
        <activity
            android:name=".ioc.IOCActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ioc.IOCActivity2"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- ioc end -->

        <!-- ui start -->
        <activity
            android:name=".ui.UIListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.constraint_layout.ConstraintLayoutActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.drawable.DrawableActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.cardview.CardViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.app_compat_text.AppCompatTextActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.toolbar.ToolbarActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarTheme" />

        <activity
            android:name=".ui.surfaceview_animation.SurfaceViewAnimationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.viewpager_fragment.ViewPagerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.custom_view.CustomViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.material_design.MaterialDesignActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialDesignTheme" />

        <activity
            android:name=".ui.svg.SVGActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.imageloader.ImageLoaderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.remote_views.RemoteViewsNotificationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".ui.remote_views.RemoteViewsAppWidgetProvider"
            android:exported="true">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provide_info" />

            <intent-filter>
                <action android:name="com.winjay.practice.action.CLICK" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.TransparentActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />

        <activity
            android:name=".EmptyActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- widget start -->
        <receiver
            android:name=".ui.launcher_widget.ClockWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/clock_widget_info" />
        </receiver>
        <!-- widget end -->

        <activity
            android:name=".ui.window.WindowActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- ui end -->

        <!-- media start-->
        <activity
            android:name=".media.MediaListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.audio_record.AudioRecordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.video.VideoPlayActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.music.MusicPlayActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.mediasession.MediaSessionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".media.mediasession.service.MusicBrowserService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity
            android:name=".media.media_list.ImageListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.image.ImagePlayActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.media_list.MusicListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.media_list.VideoListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.exoplayer.ExoPlayerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.camera.CameraListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.camera.camera1.CameraActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.camera.camera2.Camera2Activity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.camera.camerax.CameraXActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.extractor_muxer.MediaExtractorAndMuxerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.projection.MediaProjectionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".media.projection.ScreenRecordService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />

        <activity
            android:name=".media.codec.MediaCodecActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.codec.decode.DecodeMediaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".media.audio_focus.AudioFocusTestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".media.audio_focus.AudioFocusTestService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".media.receiver.MediaButtonIntentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.winjay.practice.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- media end-->

        <!-- bluetooth start -->
        <activity
            android:name=".bluetooth.BluetoothListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".bluetooth.bt.BtClientActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".bluetooth.bt.BtServerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".bluetooth.a2dp.A2dpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".bluetooth.ble.BleClientActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".bluetooth.ble.BleServerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".bluetooth.call.BluetoothCallActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- bluetooth end -->

        <!-- usb start -->
        <activity
            android:name=".usb.UsbActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".usb.MediaMountedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />

                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- usb end -->

        <!-- socket start -->
        <activity
            android:name=".net.NetListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".net.ftp.FtpTestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".net.socket.udp.UdpMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".net.socket.udp.UdpTestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".net.socket.SocketListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".net.socket.websocket.WebSocketActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- socket end -->

        <!--隐式启动activity，action、category、data必须同时匹配，才能隐式启动（android.intent.category.DEFAULT必须有）-->
        <activity
            android:name=".intent_filter.IntentFilterActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.winjay.practice.action_1" />
                <action android:name="com.winjay.practice.action_2" />

                <category android:name="com.winjay.practice.category_1" />
                <category android:name="com.winjay.practice.category_2" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- accessibility start -->
        <service
            android:name=".accessibility.AppForegroundAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_helper" />
        </service>

        <service
            android:name=".accessibility.AutoClickAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/autoclick_accessibility_description"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/autoclick_accessibility_config" />
        </service>
        <!-- accessibility end -->

        <!-- jetpack start -->
        <activity
            android:name=".jetpack.JetpackLibListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".jetpack.lifecycle.LifecycleTestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- jetpack end -->

        <!-- jni_ndk start -->
        <activity
            android:name=".jni.JniTestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- jni_ndk end -->

        <!-- kotlin start -->
        <activity
            android:name=".kotlin.KotlinListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".kotlin.KotlinTestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".kotlin.coroutines.KotlinCoroutinesTestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- kotlin end -->

        <!-- performance_optimize start -->
        <activity
            android:name=".performance_optimize.PerformanceOptimizeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- performance_optimize end -->

        <!-- hardware test start -->
        <activity
            android:name=".hardware_test.HardwareTestListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".hardware_test.multi_touch.MultiTouchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />

        <activity
            android:name=".hardware_test.touch_panel.TouchPanelCheckActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <!-- hardware test end -->

        <!-- file browser start -->
        <activity
            android:name=".file_browser.FileBrowserActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- file browser end -->

        <!-- storage start -->
        <activity
            android:name=".storage.StorageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".storage.DirectoryStructureActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- storage end -->

        <activity
            android:name=".download_manager.DownloadManagerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".location.LocationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".system_info.SystemInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".package_manager.PackageManagerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity_manager.ActivityManagerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".notification.NotificationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".plugin.PluginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".crash.CrashTestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service android:name=".TestService" />
    </application>

</manifest>