<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winjay.practice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--地理位置相关-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--configChanges：配置中的属性发生变化时，activity不会重建-->
        <!--launchMode：activity启动模式（standard、singleTop、singleTask、singleInstance）-->
        <!--excludeFromRecents：activity不会出现在历史activity列表中-->
        <!--taskAffinity：activity所需要的任务栈的名字（默认和包名一致）-->
        <!--process：指定进程名（默认进程名为包名）（adb shell ps、adb shell ps|grep xxx.xxx命令查看进程）-->
        <activity
            android:name=".LauncherActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:taskAffinity="com.winjay.practice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <activity android:name=".so.SOActivity" />

        <activity android:name=".kotlin.KotlinTestActivity" />

        <activity android:name=".content_provider.ProviderActivity" />

        <activity android:name=".TestActivity" />

        <activity android:name=".constrain_layout.ConstrainLayoutActivity" />

        <activity android:name=".location.LocationActivity" />

        <!--隐式启动activity，action、category、data必须同时匹配，才能隐式启动（android.intent.category.DEFAULT必须有）-->
        <activity android:name=".intent_filter.IntentFilterActivity">
            <intent-filter>
                <action android:name="com.winjay.practice.action_1" />
                <action android:name="com.winjay.practice.action_2" />

                <category android:name="com.winjay.practice.category_1" />
                <category android:name="com.winjay.practice.category_2" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".cardview.CardViewActivity" />

        <activity android:name=".aidl_test.AIDLActivity" />

        <activity
            android:name=".TransparentActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleTranslucentTheme" />

        <activity android:name=".app_compat_text.AppCompatTextActivity" />

        <provider
            android:name=".content_provider.UserinfoProvider"
            android:authorities="com.winjay.info" />

        <service android:name=".TestService" />
    </application>

</manifest>